

{% include header.html %}

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<p>Пользовательское соглашение</p>
                    
<p>Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов новостного портала «Новости о птицах».</p>

<p>1. Термины и определения</p>

<p>1.1. «Сайт» — интернет-проект, новостной портал, содержащий информацию развлекательного и новостного характера, доступный в сети Интернет по адресу «http://news.mosbirdclub.ru»;</p>

<p>1.2. «Владелец» — администратор сайта, обладатель исключительных прав на использование Сайта, в том числе входящих в его состав программ для ЭВМ и баз данных, информационных материалов, графических изображений, являющихся элементами пользовательского интерфейса, и иных охраноспособных объектов, входящих в состав Сайта, а также на дизайн Сайта, осуществляющий управление Сайтом и иные действия, связанные с его использованием;</p>

<p>1.3. «Пользователь» — любое лицо, использующее функциональные возможности Сайта, в том числе просмотр, копирование, передачу любого рода информации из любого раздела Сайта;</p>

<p>1.4. «Соглашение» — настоящее Соглашение, заключенное между Владельцем сайта «http://news.mosbirdclub.ru» и Пользователем;</p>

<p>1.5. «Персональные данные» — любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных);</p>

<p>1.6. «Обработка персональных данных» — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;</p>

<p>1.7. «Конфиденциальность персональных данных» — обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.</p>

<p>1.8. «Сторона и Стороны» — Владелец или Пользователь в отдельности, либо Владелец или Пользователь совместно.</p>

<p>2. Общие условия</p>

<p>2.1. Предметом настоящего Пользовательского соглашения являются отношения между администратором и правообладателем Сайта, и Пользователем по поводу использования Сайта и размещенных на нем результатов интеллектуальной деятельности, а также иных материалов Сайта;</p>

<p>2.2. Настоящее Соглашение является публичной офертой, в соответствии с положениями Гражданского Кодекса Российской Федерации, Гражданского кодекса Украины. Согласием (акцептом) Пользователя с условиями настоящего Соглашения считается фактическое использование Сайта и его материалов;</p>

<p>2.3. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации, Украины, стран СНГ, договоров и соглашений стран СНГ, а также нормами международных договоров;</p>

<p>2.4. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению;</p>

<p>2.5. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу момента размещения на Сайте новой редакции Соглашения. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта;</p>

<p>2.6. Ссылка на любой Сайт, продукт, услугу, любую информацию коммерческого или некоммерческого характера, включая контекстную рекламу, размещенные на Сайте, не являются одобрением или рекомендацией данных продуктов (услуг) со стороны Владельца. Владелец Сайта не несет ответственности за содержание, доступное по ссылкам, размещенным на Сайте;</p>

<p>2.7. Вся информация и материалы, размещенные на данном Сайте, представлены без гарантии того, что они не могут содержать ошибок;</p>

<p>2.8. Признание судом какого-либо положения Соглашения недействительным или не подлежащим исполнению не влечет недействительности иных положений Соглашения;</p>


<p>3. Материал используемый на сайте</p>

<p>3.1. Владелец сайта информирует пользователя о том, что материалы, размещаемые и используемые на сайте, а именно видео, фото или текстовые материалы могут быть заимствованы Владельцем сайта из открытых источников, либо использованы на основании открытой лицензии;</p>

<p>3.2. Владелец сайта, осуществляя заимствование и использование материалов, при размещении их на сайте, гарантирует указание имени либо псевдонима автора такого материала, а также указание ссылки на источник заимствования такого материала;</p>

<p>3.3. Указанные в 3.2. настоящего соглашения действия Владелец сайта осуществляет при наличии фактической возможности — если автор материала указан на сайте-источнике заимствования.</p>
                    
<p>3.3. Контент, используемый на сайте является материалами для возрастной .</p>
аудитории 12+.
                    
<p>4. Политика конфиденциальности</p>

<p>4.1. Персональные данные, разрешённые к обработке в рамках настоящего соглашения, предоставляются Пользователем путём заполнения специальной формы, позволяющей оформить подписку на рассылку материалов Сайта, и включают в себя следующую информацию: адрес электронной почты (e-mail) пользователя;</p>

<p>4.2. Персональные данные Пользователя Владелец сайта может использовать в целях Предоставления Пользователю с его согласия материалов сайта путем направления их на адрес электронной почты, указанный пользователем;</p>

<p>4.3. Владелец сайта обязуется:</p>

<p>4.3.1. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя;</p>

<p>4.3.2. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.</p>

<p>4.3.3. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.</p>

<p>5. Обязательства Пользователя</p>

<p>5.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие законодательство Российской Федерации, Украины, стран СНГ или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных прав, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта;</p>

<p>5.2. Не допускается использование текстовых или графических материалов Сайта без согласия правообладателей. Пользователю запрещается любое копирование, перепечатка, публикация материалов Сайта в других изданиях без согласия Владельца;</p>

<p>5.3. При цитировании текстовых или графических материалов Сайта, включая охраняемые авторские произведения, гиперссылка на Сайт «http://news.mosbirdclub.ru» обязательна. Такое использование материалов Сайта допускается в объеме, оправданном целью цитирования;</p>

<p>5.4. Пользователь осознает и безусловно принимает, что Владельцем сайта не предоставлена возможность комментирования записей, размещенных на сайте;</p>

<p>5.5. Владелец не несет ответственности за нарушение Пользователем правил и условий, изложенных в настоящем Соглашении.</p>

<p>5.6. Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование пользователем внешних ресурсов, ссылки на которые могут содержаться на сайте;</p>

<p>5.7. Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.</p>

<p>6. Интеллектуальная собственность</p>

<p>6.1. Зарегистрированные торговые марки, знаки, упоминаемые на Сайте, являются собственностью их соответствующих владельцев.</p>

<p>6.2. Владелец оставляет за собой право в любое время удалять с Сайта любые результаты интеллектуальной деятельности, размещенные на нем, без уведомления Пользователя;</p>
                    
<p>6.3. Все используемые и размещенные на Сайте результаты интеллектуальной деятельности (кроме материалов, полученных из открытых источников), включая логотип, а также сам Сайт и доменное имя являются интеллектуальной собственностью их законных правообладателей и охраняются законодательством об интеллектуальной собственности Российской Федерации и Украины, а также соответствующими международными правовыми конвенциями;</p>

<p>7. Положения о рекламе</p>

<p>7.1. Пользователь, осуществляя использование Сайта, дает администратору свое согласие на получение рекламной информации, размещаемой на Сайте. В случае несогласия пользователя с настоящим положением соглашения, пользователь вправе не использовать Сайт, либо отказаться от его использования полностью.</p>

<p>8. Для правообладателей</p>

<p>8.1. Если Вы являетесь обладателем исключительных прав на какой-либо материал, находящийся на данном сайте и Ваши права тем или иным образом нарушаются с использованием данного ресурса, мы просим Вас незамедлительно связаться с Администрацией сайта, путем направления вашего запроса на контактные адреса указанные на странице «http://news.mosbirdclub.ru/contact.html», для разрешения вопросов об удалении материала;</p>

<p>8.2. Администрация Сайта уведомляет, что обращение о нарушении авторских прав и удалении информации нарушающей авторские права будет рассмотрено в срок, не превышающий 5 (пяти) рабочих дней;

<p>8.3. Для наиболее быстрого и объективного рассмотрения обращения правообладателю необходимо представить следующую информацию:</p>

<ul>
<li>— Документ, свидетельствующий о наличии исключительных прав на материал, размещенный на сайте</li>

<li>— Прямые ссылки на страницы ресурса, информация на которых нарушает авторские права;</li>
</ul>

                
<p>8.4. Если обращение подает не правообладатель, а его уполномоченный представитель, необходимо предоставить копию доверенности с оговоренными в ней полномочиями представителя на обращение с подобными вопросами, заверенной надлежащим образом.</p>

<p>9. Прочие условия</p>

<p>9.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации, Украины, договоров и соглашений стран СНГ, а также нормами международных договоров;</p>

<p>9.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрацией Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением;</p>

<p>9.3. Настоящее соглашение вступает в силу с момента начала использования информации, действует в течение неопределенного срока и распространяет свое действие на Пользователей, осуществляющих доступ к Сайту как до даты опубликования настоящего Соглашения, так и после даты его опубликования;</p>

<p>9.4. Бездействие со стороны Администрации Сайта, в случае нарушения кем-либо из Пользователей положений Соглашения, не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые, в соответствии с законодательством, материалы Сайта;</p>

<p>9.5. Стороны согласились, что для всех споров, вытекающих из отношений, регулируемых настоящим Соглашением, досудебный претензионный порядок урегулирования споров является обязательным.</p>

<p>Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   
                </div>
            </div>
        </div>
    </article>

    <hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <!-- Footer -->
{% include footer.html %}
                </div></div></div>

